<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formula Finder - Home</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <h3>Formula Finder</h3>
        <p>Saving you time.</p>
        <form action="/submit" method="POST">
            <div class="zipInput">
                <input type="text" name="zipCode" placeholder="Zip Code" minlength="5" maxlength="5" required>
            </div>
            <button type="submit" class="submitButton">Submit</button>
        </form>
    </div>
</body>
</html>